---
---

@import "uno";
@import "tables";
@import "monokai";

/* ---------------------------------------
   Code highlight tweaks
---------------------------------------- */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

/* ---------------------------------------
   Footer
---------------------------------------- */

.footer__copyright {
  margin: 0 20px 10px;
}

/* ---------------------------------------
   Avatar image at top
---------------------------------------- */

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 100%;
}

/* ---------------------------------------
   SOCIAL NAV CIRCLES
---------------------------------------- */

/* Center the whole social nav block */
.navigation-wrapper {
  text-align: center;
  margin-top: 2rem;
}

.cover-navigation.navigation--social {
  margin-top: 1rem;
}

/* Flex layout for the circles */
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__item {
  margin: 0;
  padding: 0;
}

/* The circular button itself */
.navigation__item a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 88px;
  height: 88px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: transparent;

  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* The icon box inside each circle – BIGGER NOW */
.navigation__item a div {
  width: 50px;          /* bigger than before */
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%; /* global default size */
}

/* Per-logo images + optical tweaks */
.icon-spotify {
  /* ⚠️ change filename if yours is different (e.g. spotify-icon.png) */
  background-image: url("/images/favicons/spotify.png");
  background-size: 78%;
}

.icon-apple-music {
  background-image: url("/images/favicons/applemusic.png");
  background-size: 95%;   /* thin wordmark → boost */
}

.icon-bandcamp {
  background-image: url("/images/favicons/bandcamp-icon.png");
  background-size: 92%;
}

.icon-instagram {
  background-image: url("/images/favicons/instagram.png");
  background-size: 85%;
}

.icon-facebook {
  background-image: url("/images/favicons/facebook.png");
  background-size: 80%;
}

.icon-email {
  background-image: url("/images/favicons/email.png");
  background-size: 88%;
}


/* ---------------------------------------
   MOBILE TWEAKS
---------------------------------------- */

@media (max-width: 480px) {
  .navigation {
    gap: 18px;
  }

  .navigation__item a {
    width: 80px;
    height: 80px;
    border-width: 1.5px;
  }

  .navigation__item a div {
    width: 46px;
    height: 46px;
    background-size: 85%;
  }
}

/* ---------------------------------------
   ICON IMAGE PATHS
---------------------------------------- */

.icon-spotify {
  background-image: url("/images/icons/spotify.png");
}

.icon-apple-music {
  background-image: url("/images/icons/apple-music.png");
}

.icon-bandcamp {
  background-image: url("/images/icons/bandcamp.png");
}

.icon-instagram {
  background-image: url("/images/icons/instagram.png");
}

.icon-facebook {
  background-image: url("/images/icons/facebook.png");
}

.icon-email {
  background-image: url("/images/icons/email.png");
}

