<header class="panel-cover {% if site.disable_landing_page %}panel-cover--collapsed{% endif %}">
  <div class="panel-main">
    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}/images/profile.jpg" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>

        <!-- Social Links Directly Visible on Mobile -->
        <div class="cover-navigation">
          <nav class="cover-navigation--primary">
            <ul class="navigation">
              {% if site.author.twitter_username %}
                <li class="navigation__item">
                  <a href="http://twitter.com/{{ site.author.twitter_username }}" target="_blank">
                    <i class="icon icon-social-twitter"></i>
                    <span class="label">Twitter</span>
                  </a>
                </li>
              {% endif %}
              
              <li class="navigation__item">
                <a href="https://open.spotify.com/artist/6kR7TOgSftpLyonF2iISxm?si=Gz7Sj84qStGMBz9zRlViPA" target="_blank">
                  <div class="icon-spotify"></div>
                  <span class="label">Spotify</span>
                </a>
              </li>

              <li class="navigation__item">
                <a href="https://music.apple.com/id/artist/polar-finch/1767238675" target="_blank">
                  <div class="icon-apple-music"></div>
                  <span class="label">Apple Music</span>
                </a>
              </li>

              <li class="navigation__item">
                <a href="https://polarfinch.bandcamp.com/" target="_blank">
                  <div class="icon-bandcamp"></div>
                  <span class="label">Bandcamp</span>
                </a>
              </li>

              {% if site.author.instagram_username %}
                <li class="navigation__item">
                  <a href="https://www.instagram.com/{{ site.author.instagram_username }}" target="_blank">
                    <div class="icon-instagram"></div>
                    <span class="label">Instagram</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
