<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i> <!-- Burger Icon -->
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i> <!-- Close Icon -->
</span>

<header class="panel-cover {% if site.disable_landing_page %}panel-cover--collapsed{% endif %}"
  style="background-image: url({{ site.baseurl }}/images/cover.jpg)">
  <div class="panel-main">
    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}/images/profile.jpg" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">
          <!-- Main Navigation - You can add items here -->
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <!-- Menu items can go here -->
            </ul>
          </nav>
        </div>
        
        
